@model NStore.Web.Models.Authentication
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户认证-@{@WorkContext.MallConfig.SiteTitle}<</title>
            @Html.Raw(WorkContext.MallConfig.SEOKeyword)
            @Html.Raw(WorkContext.MallConfig.SEODescription)
            <link href="@{@WorkContext.CSSCDN}/css/base.css" rel="stylesheet" type="text/css" />
            <link href="@{@WorkContext.CSSCDN}/css/account.css" rel="stylesheet" type="text/css" />
            <script src="@{@WorkContext.ScriptCDN}/scripts/jquery.js" type="text/javascript"></script>
            <script src="@{@WorkContext.ScriptCDN}/scripts/utils.js" type="text/javascript"></script>
            <script src="@{@WorkContext.ScriptCDN}/scripts/account.js" type="text/javascript"></script>


            <script src="@{@WorkContext.ScriptCDN}/scripts/ajaxfileupload.js" type="text/javascript"></script>
            <script type="text/javascript">
                returnUrl = "@Model.ReturnUrl";

                function ajaxFileUploads(obj) {
                    var td = $(obj).parent();
                    var id = $(td).children(".file").attr("id");
                    var img = $(td).children(".img");
                    var path = $(img).attr("src");

                    if (path.indexOf("images/user-avatar")>0) path = "";

                    $.ajaxFileUpload(
                    {
                        url: '/tool/AjaxUpload?path=' + path + '&newpath=/upload/user/',
                        secureuri: false,
                        fileElementId: id,
                        dataType: 'json',
                        success: function (data, status) {
                            if (data.state == "success") {
                                $(img).attr("src", data.content);
                                $(td).children("input[type=hidden]").val(data.content);
                            }
                            else {
                                //jAlert(data.msg, "error", '../../', '');
                                alert(data.content);
                            }
                        },
                        error: function (data, status, e) {
                            //jAlert("图片替换失败", "error", '../../', '');
                            alert("图片替换失败");
                        }
                    });
                }
            </script>
        </head>
        <body>
            <div id="loginTop" class="box">
                <a href="/" class="left"><img src="@{@WorkContext.ImageCDN}/images/logo.png" width="186" height="42" /></a>
                <h2>
                @if (Model.UserType == 0)
                {
                    @Html.Raw("用户个人认证")
                }
                else
                {
                    @Html.Raw("用户企业认证")
                }
                </h2>
                <div class="clear"></div>
            </div>
            <div class="regTitle box">我想稍后再认证，现在直接 <a href="@Url.Action("index","home")" class="Fblue">跳过</a></div>
            <div class="reg box">
                <form name="authuserForm" action="">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="190"><em>*</em>联系人：</th>
                            <td width="275"><input type="text" name="linkname" value="" class="text userName" /></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th width="190"><em>*</em>手机号：</th>
                            <td width="275"><input type="text" name="mobile" value="" class="text tel" /></td>
                            <td>&nbsp;</td>
                        </tr>
                         <tr>
                            <th width="190"><em>*</em>短信验证码：</th>
                             <td width="275">
                                 <input type="text" style="width:100px;" class="YZM text" name="verifyCode">
                                 <a href="javascript:sendVerifyMobile()" class="grayBT right" style="height:30px; line-height:30px; margin-left:10px;margin-right:5px; padding:4px 15px;">获取短信校验码</a>
                             </td>
                             <td>&nbsp;</td>
                         </tr>
                        <tr>
                            <th width="190">邮箱（选填）：</th>
                            <td width="275"><input type="text" name="email" value="" class="text" /></td>
                            <td>&nbsp;</td>
                        </tr>
                        @if (Model.UserType == 1)
                        {
                            <tr>
                                <th width="190"><em>*</em>公司名称：</th>
                                <td width="275"><input type="text" name="company" value="" class="text" /></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th width="190"><em>*</em>信用码：</th>
                                <td width="275"><input type="text" name="creditcode" value="" class="text" /></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th width="190"><em>*</em>营业执照：</th>
                                @*<td width="275"><input type="text" name="businesslicense" value="" class="text" /></td>*@
                                <td> 
                                <input type="hidden" id="businesslicense" name="businesslicense" value="" />
                                <img id="img" name="img"  src="~/images/user-avatar.gif" class="img" onclick="javascript:$(this).next('.file').click();" />
                                <input type="file" onchange="ajaxFileUploads(this)" style="display: none;" class="file" id="fup" name="fup" />
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                        }
                        @if (Model.IsVerifyCode)
                        {
                            <tr class="succ_on">
                                <th width="190"><em>*</em>验证码：</th>
                                <td width="275"><input type="text" name="verifyCode" autocomplete="off" value="" class="text userName" /></td>
                                <td><img id="verifyImage" style="cursor:hand" height="34" title="点击刷新验证码" onclick="this.src='/tool/verifyimage?time=' + new Date()" src="/tool/verifyimage" /></td>
                            </tr>
                        }
                        <tr>
                            <td align="right">&nbsp;</td>
                            <td><a href="#" class="regBt redBT" onclick="authuser(@Model.UserType)">认证提交</a></td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </form>

            </div>
            <div id="footer" class="bigBox">
                <div class="box">
                    @{
                        int flag = 1;
                        foreach (HelpInfo info in WorkContext.HelpList)
                        {
                            if (info.Pid != 0)
                            {
                                if (info.Url.Length == 0)
                                {
                                    <a href="@Url.Action(" question", "help" , new RouteValueDictionary { { "id" , info.Id } })">@info.Title</a>
                                }
                                else
                                {
                                    <a href="@info.Url">@info.Title</a>
                                }
                            }
                            else
                            {
                                if (flag != 1)
                                {
                                    @:</div>
                                }
                                @:<div class="footerBox">
                                    <h3>@info.Title</h3>
                                    flag++;
                            }
                        }
                        if (WorkContext.HelpList.Count > 0)
                        {
                            @:</div>
                        }
                    }
                    <div class="clear"></div>
                </div>
                </div>
                @Html.Raw(WorkContext.ExecuteDetail)
                @Html.Raw(WorkContext.MallConfig.Script)
            </body>
        </html>
