@model NStore.Web.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户登陆-@{@WorkContext.MallConfig.SiteTitle}</title>
    @Html.Raw(WorkContext.MallConfig.SEOKeyword)
    @Html.Raw(WorkContext.MallConfig.SEODescription)
    <link href="@{@WorkContext.CSSCDN}/css/base.css" rel="stylesheet" type="text/css" />
    <link href="@{@WorkContext.CSSCDN}/css/account.css" rel="stylesheet" type="text/css" />
    <script src="@{@WorkContext.ScriptCDN}/scripts/utils.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/scripts/account.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/scripts/jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
        returnUrl = "@Model.ReturnUrl";
        shadowName = "@Model.ShadowName";
    </script>
</head>

<body>

<div id="loginTop" class="box">
    <a href="/" class="left"><img src="@{@WorkContext.ImageCDN}/images/logo.png" width="186" height="42" /></a>
    <h2>欢迎登陆</h2>
    <div class="clear"></div>
</div>


<div class="box login">
@*<a href="@Url.Action("register")" class="loginREG">免费注册</a>*@

 @{
     List<AdvertInfo> loginAdvertList = Adverts.GetAdvertList(7);
     }
<img src="@{@WorkContext.ImageCDN}/upload/advert/@((loginAdvertList != null && loginAdvertList.Count > 0) ? loginAdvertList[0].Body : string.Empty)" width="461" height="355" class="left" />

<div class="right">
  <form name="loginForm" action="">
  <div class="logintypeselect">
      <input type="hidden" id="logintype" name="logintype" value="1"/>
      <span class="left hot" onclick="tranfer(1)">账号登陆</span>
      <span class="right"  onclick="tranfer(2)">手机登陆</span>
      <div class="clear"></div>
  </div>
    <script type="text/javascript">
        function tranfer(index)
        {
            var nindex = $("#logintype").val();
            if (nindex==index) {
                return;
            }
            if (index==1) {
                $(".logintypeselect .right").removeClass("hot");
                $(".logintypeselect .left").addClass("hot");
                $("#logintype").val(1);
                
                $(".accountlogin").removeClass("loginhide");
                $(".mobilelogin").addClass("loginhide");
            }
            if (index==2) {
                $(".logintypeselect .left").removeClass("hot");
                $(".logintypeselect .right").addClass("hot");
                $("#logintype").val(2);
                
                $(".mobilelogin").removeClass("loginhide");
                $(".accountlogin").addClass("loginhide");
            }
        }
    </script>
 <div class="accountlogin">
   <dl>
      <dt>用户名</dt>
      <dd><input type="text" name="@Model.ShadowName" class="userName text" value=""/></dd>
  </dl>
  <dl>
      <dt>密码</dt>
      <dd><input type="password" name="password" class="passWord text" value=""/></dd>
  </dl>
 </div>
 <div class="mobilelogin loginhide">
    <dl>
      <dt>手机号</dt>
      <dd><input type="text" name="mobile" class="userName text" value=""/></dd>
  </dl>
   <dl>
      <dt>短信动态码</dt>
      <dd><input type="text" name="verifymobileode" class="userName text" style="width:165px;" value=""/>
       <a href="#" class="grayBT right" style="height:24px; line-height:24px;margin-right:33px; padding:4px 12px;" id="dd" onclick="setmsg(this)">获取短信校验码</a>
       </dd>
   </dl>
 </div>
<script type="text/javascript"> 
    var countdown = 10;
    function setmsg(obj)
    {
        if (countdown==10) {
            var loginForm = document.forms["loginForm"];
            var mobile = loginForm.elements["mobile"].value;
            if (mobile.length == 0) {
                alert("请输入手机号");
                return false;
            }

            var parms = new Object();
            parms["mobile"] = mobile;
            Ajax.post("/account/sendverifymobileforlogin", parms, false, function (data) {
                var result = eval("(" + data + ")");
                alert(result.content); 
                if(result.state=="success") 
                {
                    settime(obj);
                }
            })
        }
    }
    function settime(obj) { //发送验证码倒计时
        if (countdown == 0) { 
            obj.removeAttribute("disabled");    
            $(obj).html("获取短信校验码");
            countdown = 10; 
            return;
        } else { 
            obj.setAttribute("disabled", true); 
            $(obj).html("重新发送(" + countdown + ")");
            countdown--; 
        } 
    setTimeout(function() { 
        settime(obj) }
        ,1000) 
    }
</script>

  @if (Model.IsVerifyCode)
  { 
  <dl>
      <dt>验证码</dt>
      <dd><input type="text" name="verifyCode" autocomplete="off" class="YZM text left"  style="width:60px;"/><img id="verifyImage" style="cursor:hand" title="点击刷新验证码" onclick="this.src='/tool/verifyimage?time=' + new Date()" src="/tool/verifyimage" height="34" class="left" /><div class="clear"></div></dd>
  </dl>
  }
  <div class="loginBt">
    @if (Model.IsRemember)
    {
        <label><input name="isRemember" type="checkbox" style="vertical-align:-2px; margin-right:3px;" value="1" />自动登陆 &nbsp; &nbsp; </label>
    }
        <a href="@Url.Action("findpwd")">忘记密码?</a>
        <a href="javascript:void(0)" class="redBT loginIn" onclick="login()">登 &nbsp; 陆</a>
        <a href="@Url.Action("register")" class="redBT loginIn" style="background-color:#7cbe56">免费注册</a>
  </div>

  @*<div class="openID">
      <h4>使用合作网站账号登录：</h4>
      @foreach (PluginInfo info in Model.OAuthPluginList)
      {
        IOAuthPlugin instance = (IOAuthPlugin)info.Instance;
        <a href="@Url.Action(instance.LoginAction, instance.LoginController)">@info.FriendlyName</a> @:&nbsp;&nbsp;
      }
  </div>*@

  </form>
</div>
<div class="clear"></div> 
</div>

<div id="footer" class="bigBox">
  <div class="box">

    @{
        int flag = 1;
        foreach (HelpInfo info in WorkContext.HelpList)
        {
            if (info.Pid != 0)
            {
                if (info.Url.Length == 0)
                {
            <a href="@Url.Action("question", "help", new RouteValueDictionary { { "id", info.Id } })">@info.Title</a>
                }
                else
                {
            <a href="@info.Url">@info.Title</a>
                }
            }
            else
            {
                if (flag != 1)
                {
                @:</div>
            }
            @:<div class="footerBox"><h3>@info.Title</h3>
            flag++;
            }
        }
        if (WorkContext.HelpList.Count > 0)
        {
        @:</div>
    }
    }

  <div class="clear"></div>
  </div>
</div>
@Html.Raw(WorkContext.ExecuteDetail)
@Html.Raw(WorkContext.MallConfig.Script)
</body>
</html>
