@{
    ViewBag.Title = "牛工汇网上商城-首页";
    Layout = "~/Views/Shared/_layoutbase.cshtml";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
@section header{
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@{@WorkContext.MallConfig.SiteTitle}<<<</title>
    @Html.Raw(WorkContext.MallConfig.SEOKeyword)
    @Html.Raw(WorkContext.MallConfig.SEODescription)
    <link href="@{@WorkContext.CSSCDN}/css/base.css" rel="stylesheet" type="text/css" />
    <link href="@{@WorkContext.CSSCDN}/css/home.css" rel="stylesheet" type="text/css" />
    <script src="@{@WorkContext.ScriptCDN}/scripts/utils.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/scripts/common.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/scripts/MSClass.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/scripts/jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
        uid = @WorkContext.Uid;
        isGuestSC = @WorkContext.MallConfig.IsGuestSC;
        scSubmitType = @WorkContext.MallConfig.SCSubmitType;

        function changeRed(obj)
        {
            //$(obj).css({"background":"#e13a3a"});
            obj.style.backgroundColor='#e13a3a';
        }
        function changeBlue(obj)
        {
            //$(obj).css({"background":"#3897da"});
            obj.style.backgroundColor='#3897da';
        }

        function addcss_div_item(obj)
        {
            //obj.style.backgroundColor='#3897da';
            $(obj).addClass("hotItem");
            $(obj).css({"background":"#3897da"});
            $(obj).find(".menufirst").css({"color":"#fff"});
            $(obj).find("h3").css({"background":"none"});
        }

        function removecss_div_item(obj)
        {
            $(obj).find(".menufirst").css({"color":"#545454"});
            $(obj).removeClass("hotItem");
            $(obj).css({"background":"#fff"});
            $(obj).find("h3").css({"background":"url(/images/categorys.jpg) no-repeat 95% center"});
        }
    </script>
}

@section body{

    <div id="nav" class="bigBox globalbackcolor">
        <div class="box1210">
            <!-- 分类导航 -->
            <div id="categorys">
            <h2><i style="font-size:large">牛工工场</i>&nbsp;商品分类</h2>
            <div id="categorysCon">
                @{
                    List<CategoryInfo> cateList = Categories.GetCategoryList();
                }
                @{
                    int layerFlag = 0;
                    int num=0;
                    foreach (CategoryInfo info in cateList)
                    {
                        if (num>=8)
                        {
                            break;
                        }
                        if (info.Layer == 1)
                        {
                            if (layerFlag == 1)
                            {
                                @Html.Raw("</div></div>")
                            }
                            <text>
                            <div class="item" onmouseover="addcss_div_item(this)" onmouseout="removecss_div_item(this)">
                                <h3>
                                    <a href="javascript:void(0)" class="menufirst">@info.Name</a>
                                </h3>
                            <div class="itmeSon">
                            </text>
                            layerFlag = 1;
                            num= num+1;
                        }
                        else if (info.Layer == 2)
                        {
                            <text><dl><dt><a style="" href="javascript:void(0)">@info.Name</a></dt><dd> </text>
                            foreach (CategoryInfo cate in cateList.FindAll(x => x.ParentId == info.CateId))
                            {
                                @:<em><a style="" href="@Url.Action("categorysearch", "catalog", new RouteValueDictionary { { "searchKeyType",1 } , { "searchKeyId",cate.CateId } })">@cate.Name</a></em>
                            }
                            @:</dd><div class="clear"></div></dl>
                        }
                    }
                    @Html.Raw("</div></div>")
                }

    </div>
</div>

                <!-- 分类导航结束 -->

                <ul id="navItme">
                    <li><a class="globalhover" href="/">首页</a></li>
                    @{
                        var specialList= SpecialPerformance.GetSpecialList();
                        if (specialList!=null&& specialList.Count>0)
                        {
                            foreach (var item in specialList)
                            {
                                <li><a  class="globalhover" href="@Url.Action("categorysearch", "catalog", new RouteValueDictionary { { "searchKeyType", 3 }, { "searchKeyId", item.Specialid } })">@item.Name</a></li>
                            }
                        }
                     }
                </ul>
                </div>
                </div>

                <!-- baner+商品推荐层-->
                <div id="centerdiv" class="box1210">
                    <div class="couple" >
                        <div class="desc"><a href="#">优惠专区</a>：</div>
                        <div>
                            <ul>
                           @{
                               List<AdvertInfo> floor1AdvertList01 = Adverts.GetAdvertList(11);
                               if (floor1AdvertList01 !=null && floor1AdvertList01.Count > 0)
                               {
                                   var isSelect=false;
                                   foreach (var item in floor1AdvertList01)
                                   {
                                       if (!isSelect)
                                       {
                                          isSelect = true;
                                          <text><li></text>
                                       }
                                       else
                                       {
                                          <text><li style="display:none;"></text>
                                       }
                                       @:<a href="@item.Url"><img src="@{@WorkContext.ImageCDN}/upload/advert/@item.Body" style="width:203px;height:135px;padding:1px;" /></a></li>

                                    }
                                }

                            }
                            </ul>
                        </div>
                    </div>
                    <div id="indexleft" class="left">
                        <div id="index1">
                            <div class="indexPic left">
                                @{
                                    BannerInfo[] bannerList = Banners.GetHomeBannerList(0);
                                }
                                <div style="overflow:hidden;width:670px;height:240px;position:relative;">
                                <div id="bannerBox">
                                    <ul id="bannerContentID">
                                        @foreach (BannerInfo info in bannerList)
                                        {
                                            <li><a href="@info.Url"><img src="@{@WorkContext.ImageCDN}/upload/banner/@info.Img" width="670px" height="240px" /></a></li>
                                        }
                                    </ul>
                                </div>
                                <ul id="bannerNumID">
                                    @for (int i = 1; i <= bannerList.Length; i++)
                                    {
                                        <li class="">@i</li>
                                    }
                                </ul>
                                </div>
                            @if (bannerList.Length > 1)
                            {
                                <script type="text/javascript">
                                    new Marquee(
                                                {
                                                    MSClassID: "bannerBox",
                                                    ContentID: "bannerContentID",
                                                    TabID: "bannerNumID",
                                                    Direction: 2,
                                                    Step: 0.5,
                                                    Width: 670,
                                                    Height: 240,
                                                    Timer: 20,
                                                    DelayTime: 3000,
                                                    WaitTime: 0,
                                                    ScrollStep: 670,
                                                    SwitchType: 0,
                                                    AutoStart: 1
                                                })
                                </script>
                            }
                        </div>
                        </div>
                        <div id="index2">

                        <div class="scroll left">
                            <div id="demo" style="width:600px; overflow:hidden;margin-left:33px; position:relative; height:176px;">
                                <div class="inScroll" id="demo1">
                                    <ul>
                                        @{
                        List<AdvertInfo> bannerBottomAdvertList = Adverts.GetAdvertList(8);
                                        }
                                        <AdvertInfo>
                                            <AdvertInfo>
                                                @foreach (AdvertInfo info in bannerBottomAdvertList)
                                                {
                                                                        <li><a href="@info.Url"><img src="@{@WorkContext.ImageCDN}/upload/advert/@info.Body" width="200" height="160" /></a></li>
    }
                                                                    </AdvertInfo>
                                                                </AdvertInfo>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <a href="javascript:void(0)" onclick="moveL()" class="bt btL abtn aleft"></a>
                                                    <a href="javascript:void(0)" onclick="moveR()" class="bt btR abtn aright"></a>
                                                </div>
                                                <script type="text/javascript">
                                                    var canRoll = false;
                                                    var inBox = document.getElementById("demo1");
                                                    var liList = inBox.getElementsByTagName("li");
                                                    if (liList.length > 3) {
                                                        canRoll = true;
                                                    }
                                                    var boxWidth = 200;
                                                    var step = 0;
                                                    var maxStep = liList.length - 3;
                                                    function moveL() {
                                                        if (!canRoll) {
                                                            return;
                                                        }
                                                        if (step < maxStep) {
                                                            step = step + 1;
                                                            inBox.style.marginLeft = (-1 * (step * boxWidth)) + "px"
                                                        }
                                                    }
                                                    function moveR() {
                                                        if (!canRoll) {
                                                            return;
                                                        }
                                                        if (step > 0) {
                                                            step = step - 1;
                                                            inBox.style.marginLeft = (-1 * (step * boxWidth)) + "px"
                                                        }
                                                    }
                                                </script>
                                            </div>
                                        </div>
                                        <div id="indexright" class="right">
                                            <div class="gonggao">
                                                <h2>通知公告<a href="@Url.Action("list", "news")" class="more">更多公告></a></h2>
                                                <ul class="textList">
                                                    @{
                    DataTable homeNewsList = News.GetHomeNewsList(0, 10);
                                                    }
                                                    @foreach (DataRow row in homeNewsList.Rows)
                {
                            <li style="list-style-type:square;" class="hidegongao">
                                <a href="@Url.Action("details", "news", new RouteValueDictionary { { "newsId", row["newsid"] } })">@row["title"]</a>
                            </li>
                        }
                </ul>

                <script type="text/javascript">
                    var showindex=1;
                    var lidivs=  $(".textList").find("li");
                    if (lidivs.length>0) {
                        $(lidivs[showindex]).removeClass("hidegongao");
                    }
                    var timer = setInterval(function() {
                        //广告轮询
                        if (lidivs.length>1) {
                            var beforeindex=showindex-1;
                            if (showindex>lidivs.length-1) {
                                showindex=0;
                                beforeindex=lidivs.length-1;
                            }

                            $(lidivs[beforeindex]).addClass("hidegongao");
                            $(lidivs[showindex]).removeClass("hidegongao");
                            showindex=showindex+1;
                        }

                        //优惠专区轮询
                        var coupons=  $(".couple").find("li");
                        var coupon_showindex=1;
                        if (coupons.length > 1) {
                              var beforeindex=coupon_showindex-1;
                            if (coupon_showindex>coupons.length-1) {
                                coupon_showindex=0;
                                beforeindex=coupons.length-1;
                            }  

                            $(coupons[beforeindex]).css({"display":"none"});
                            $(coupons[coupon_showindex]).css({"display":"block"});
                            showindex=showindex+1;
                        }
                    }, 2000);

                </script>
            </div>
            @if (WorkContext.Uid > 0)
            {
                <div class="baojia" onmouseenter="changeRed(this)"  onmouseleave="changeBlue(this)">
                    <a href="#">直接报价</a>
                </div>
            <div class="userinfo">
                <table>
                    <tbody>
                        <tr class="base first">
                            <td style="width:153px">
                                <span>&nbsp;您好:</span>&nbsp;@WorkContext.PartUserInfo.UserName
                            </td>
                            <td>
                                <span>等级:</span>&nbsp;<img src="@WorkContext.UserRankInfo.Avatar" alt="@WorkContext.UserRankInfo.Title"/>
                            </td>
                        </tr>
                        @*<tr class="base second">
                            <td style="width:148px" onmouseenter="changeRed(this)"  onmouseleave="changeBlue(this)">
                                <a href="@Url.Action("userinfo", "ucenter")">&nbsp;个人中心</a>
                            </td>
                            <td style="width:152px" onmouseenter="changeRed(this)"  onmouseleave="changeBlue(this)">
                                <a href="@Url.Action("logout", "account")">退出&nbsp;</a>
                            </td>
                        </tr>*@
                        <tr class="base">
                            <td style="width:153px">您感兴趣的商品：</td>
                            <td style="width:147px; text-align:right"><a href="#">更多&nbsp;&nbsp;</a></td>
                        </tr>
                        <tr class="productlist">
                            <td colspan="2">
                                <div style="padding-left:5px;">
                                    <table>
                                        @for (int i = 0; i< 5; i++)
                                        {
                                            <tr onmouseenter="showorderproduct(this)" onmouseleave="closeorderproduct(this)">
                                                <td class="order">
                                                    <b>图片</b>&nbsp;2018-11-21

                                                    <div class="orderproduct">
                                                        <ul>
                                                            <li>订单商品1 @i</li>
                                                            <li>订单商品2 @i</li>
                                                            <li>订单商品2 @i</li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td class="action"><a href="#">加购</a>&nbsp;<a href="#">购买</a></td>
                                            </tr>
                                        }
                                    </table>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="logoinfo">
                <div class="logoregister">
                    <table>
                        <thead class="logohead">
                            <tr><td colspan="3">&nbsp;访客您好，请<a class="font_b" href="/account/login?registerType=0">登录</a>/<a class="font_b" href="@Url.Action("register","account")">注册</a>:</td></tr>
                        </thead>
                        <tbody>
                            <tr style="height:3px; background-color:aliceblue;"><td colspan="3"></td></tr>
                            <tr>
                                <td class="enter" onmouseenter="changeRed(this)"  onmouseleave="changeBlue(this)"><a href="/account/login?registerType=0">个人用户</a></td>
                                <td style="width:3px;">&nbsp;</td>
                                <td class="enter" onmouseenter="changeRed(this)"  onmouseleave="changeBlue(this)"><a href="/account/login?registerType=1">企业用户</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="baojia" onmouseenter="changeRed(this)"  onmouseleave="changeBlue(this)">
                <a href="#">直接报价</a>
            </div>
                <div class="indexAd">
                    @{
                        List<AdvertInfo> newsBottomAdvertList = Adverts.GetAdvertList(9);
                    }
                    <a href="@((newsBottomAdvertList != null && newsBottomAdvertList.Count > 0) ? newsBottomAdvertList[0].Url : string.Empty)">
                        <img src="@{@WorkContext.ImageCDN}/upload/advert/@((newsBottomAdvertList != null && newsBottomAdvertList.Count > 0) ?newsBottomAdvertList[0].Body : string.Empty)" width="302" height="180" />
                    </a>
                </div>
            </div>
        }
                                        </div>
                                        <div class="clear"></div>
                                    </div>


                <!-- 1楼 -->
                                    <div class="floor box1210">
                                        <h2 class="floorT">
                                            <b>1F</b>条码设备/耗材
                                            <ul>
                                                <li><a href="javascript:void(0)">待&nbsp;&nbsp;定</a></li>
                                                <li><a href="javascript:void(0)">待&nbsp;&nbsp;定</a></li>
                                                <li><a href="javascript:void(0)">扫&nbsp;&nbsp;描</a></li>
                                                <li><a href="javascript:void(0)">碳&nbsp;&nbsp;带</a></li>
                                                <div class="clear"></div>
                                            </ul>
                                            <div class="clear"></div>
                                        </h2>
                                    <div class="floorL left">
                                        <ul>
                                            @{
    List<AdvertInfo> floor1AdvertList1 = Adverts.GetAdvertList(10);
                                            }
                                                    @foreach (AdvertInfo info in floor1AdvertList1)
    {
                                                    <li><a href="@info.Url" class="hot">@info.Body</a></li>
    }
                                                    <div class="clear"></div>
                                        </ul>
                                        @{
    List<AdvertInfo> floor1AdvertList2 = Adverts.GetAdvertList(11);
                                        }
                                                @if (floor1AdvertList2.Count > 0)
    {
                                                <a href="@floor1AdvertList2[0].Url" class="floorAD"><img src="@{@WorkContext.ImageCDN}/upload/advert/@floor1AdvertList2[0].Body" width="202" height="155" /></a>
    }
                                    </div>
                                    <div class="floorR right">
                                        <div class="floorCon">
                                            <ul>
                                                @{
    List<AdvertInfo> floor1AdvertList3 = Adverts.GetAdvertList(12);
                                                }
                                                        @foreach (AdvertInfo info in floor1AdvertList3)
    {
                                                        <li><a href="@info.Url"><img src="@{@WorkContext.ImageCDN}/upload/advert/@info.Body" width="236" height="236" /><em>@info.ExtField1</em>
                                                            <b>¥
                                                            @if (string.IsNullOrEmpty(info.ExtField3) || info.ExtField3 == info.ExtField2)
                                                            {
                                                                @info.ExtField2
                                                            }
                                                            else
                                                            {
                                                                @info.ExtField3<s>¥@info.ExtField2</s>
                                                            }
                                                            </b>
                                                           </a>
                                                           <div><a class="btn addShopping" href="javascript:addProductToCart(@info.Body, 1)">加入购物车</a><a href="javascript:addProductToCart(@info.Body, 1)" class="btn nowbuy">立即购买</a></div>
                                                        </li>
    }
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="floorR right hide">
                                        <div class="floorCon">
                                            <ul>
                                                @{
    List<AdvertInfo> floor1AdvertList4 = Adverts.GetAdvertList(13);
                                                }
                                                        @foreach (AdvertInfo info in floor1AdvertList4)
    {
                                                        <li><a href="@info.Url"><img src="@{@WorkContext.ImageCDN}/upload/advert/@info.Body" width="236" height="236" /><em>@info.ExtField1</em>
                                                                <b>¥
                                                                @if (string.IsNullOrEmpty(info.ExtField3) || info.ExtField3 == info.ExtField2)
                                                                {
                                                                    @info.ExtField2
                                                                }
                                                                else
                                                                {
                                                                    @info.ExtField3<s>¥@info.ExtField2</s>
                                                                }
                                                                </b>
                                                            </a></li>
    }
                                            </ul>
                                        </div>
                                    </div>
                                        <div class="floorR right hide">
                                            <div class="floorCon">
                                                <ul>
                                                    @{
        List<AdvertInfo> floor1AdvertList5 = Adverts.GetAdvertList(14);
                                                    }
                                                            @foreach (AdvertInfo info in floor1AdvertList5)
     {
                                                            <li><a href="@info.Url"><img src="@{@WorkContext.ImageCDN}/upload/advert/@info.Body" width="236" height="236" /><em>@info.ExtField1</em>
                                                                    <b>¥
                                                                    @if (string.IsNullOrEmpty(info.ExtField3) || info.ExtField3 == info.ExtField2)
                                                                    {
                                                                        @info.ExtField2
                                                                    }
                                                                    else
                                                                    {
                                                                        @info.ExtField3<s>¥@info.ExtField2</s>
                                                                    }
                                                                    </b>
                                                                </a></li>
     }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="floorR right hide">
                                            <div class="floorCon">
                                                <ul>
                                                    @{
        List<AdvertInfo> floor1AdvertList6 = Adverts.GetAdvertList(15);
                                                    }
                                                            @foreach (AdvertInfo info in floor1AdvertList6)
     {
                                                            <li><a href="@info.Url"><img src="@{@WorkContext.ImageCDN}/upload/advert/@info.Body" width="236" height="236" /><em>@info.ExtField1</em>
                                                                    <b>¥
                                                                    @if (string.IsNullOrEmpty(info.ExtField3) || info.ExtField3 == info.ExtField2)
                                                                    {
                                                                        @info.ExtField2
                                                                    }
                                                                    else
                                                                    {
                                                                        @info.ExtField3<s>¥@info.ExtField2</s>
                                                                    }
                                                                    </b>
                                                                </a></li>
     }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                <!-- 2楼 -->
                                    <div class="floor box1210">
                                        <h2 class="floorT">
                                            <b>2F</b>组装电脑/配件
                                            <ul>
                                                <li><a href="javascript:void(0)">家用</a></li>
                                                <li><a href="javascript:void(0)">办公</a></li>
                                                <li><a href="javascript:void(0)">游戏</a></li>
                                                <li><a href="javascript:void(0)">待定</a></li>
                                                <div class="clear"></div>
                                            </ul><div class="clear"></div>
                                        </h2>
                                        <div class="floorL left">
                                            <ul>
                                                @{
        List<AdvertInfo> floor2AdvertList1 = Adverts.GetAdvertList(16);
                                                }
                                                        @foreach (AdvertInfo info in floor2AdvertList1)
     {
                                                        <li><a href="@info.Url" class="hot">@info.Body</a></li>
     }
                                                        <div class="clear"></div>
                                            </ul>
                                            @{
        List<AdvertInfo> floor2AdvertList2 = Adverts.GetAdvertList(17);
                                            }
                                                    @if (floor2AdvertList2.Count > 0)
     {
                                                    <a href="@floor2AdvertList2[0].Url" class="floorAD"><img src="@{@WorkContext.ImageCDN}/upload/advert/@floor2AdvertList2[0].Body" width="202" height="155" /></a>
     }
                                                </AdvertInfo>
                                            </AdvertInfo>
                                        </div>
                                        <div class="floorR right">
                                            <div class="floorCon">
                                                <ul>
                                                    @{
        List<AdvertInfo> floor2AdvertList3 = Adverts.GetAdvertList(18);
                                                    }
                                                            @foreach (AdvertInfo info in floor2AdvertList3)
     {
                                                            <li><a href="@info.Url"><img src="@{@WorkContext.ImageCDN}/upload/advert/@info.Body" width="236" height="236" /><em>@info.ExtField1</em>
                                                                    <b>
                                                                        ¥
                                                                        @if (string.IsNullOrEmpty(info.ExtField3) || info.ExtField3 == info.ExtField2)
                                                                        {
                                                                            @info.ExtField2
                                                                        }
                                                                        else
                                                                        {
                                                                            @info.ExtField3<s>¥@info.ExtField2</s>
                                                                        }
                                                                    </b>
                                                                </a></li>
     }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="floorR right hide">
                                            <div class="floorCon">
                                                <ul>
                                                    @{
        List<AdvertInfo> floor2AdvertList4 = Adverts.GetAdvertList(19);
                                                    }
                                                            @foreach (AdvertInfo info in floor2AdvertList4)
     {
                                                            <li><a href="@info.Url"><img src="@{@WorkContext.ImageCDN}/upload/advert/@info.Body" width="236" height="236" /><em>@info.ExtField1</em>
                                                                    <b>
                                                                        ¥
                                                                        @if (string.IsNullOrEmpty(info.ExtField3) || info.ExtField3 == info.ExtField2)
                                                                        {
                                                                            @info.ExtField2
                                                                        }
                                                                        else
                                                                        {
                                                                            @info.ExtField3<s>¥@info.ExtField2</s>
                                                                        }
                                                                    </b>
                                                                </a></li>
     }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="floorR right hide">
                                            <div class="floorCon">
                                                <ul>
                                                    @{
        List<AdvertInfo> floor2AdvertList5 = Adverts.GetAdvertList(20);
                                                    }
                                                            @foreach (AdvertInfo info in floor2AdvertList5)
     {
                                                            <li><a href="@info.Url"><img src="@{@WorkContext.ImageCDN}/upload/advert/@info.Body" width="236" height="236" /><em>@info.ExtField1</em>
                                                                <b>¥
                                                                @if (string.IsNullOrEmpty(info.ExtField3) || info.ExtField3 == info.ExtField2)
                                                                {
                                                                    @info.ExtField2
                                                                }
                                                                else
                                                                {
                                                                    @info.ExtField3<s>¥@info.ExtField2</s>
                                                                }
                                                               </b></a></li>
     }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="floorR right hide">
                                            <div class="floorCon">
                                                <ul>
                                                    @{
        List<AdvertInfo> floor2AdvertList6 = Adverts.GetAdvertList(21);
                                                    }
                                                            @foreach (AdvertInfo info in floor2AdvertList6)
     {
                                                            <li><a href="@info.Url"><img src="@{@WorkContext.ImageCDN}/upload/advert/@info.Body" width="236" height="236" /><em>@info.ExtField1</em>
                                                                <b>¥
                                                                @if (string.IsNullOrEmpty(info.ExtField3) || info.ExtField3 == info.ExtField2)
                                                                {
                                                                    @info.ExtField2
                                                                }
                                                                else
                                                                {
                                                                    @info.ExtField3<s>¥@info.ExtField2</s>
                                                                }
                                                               </b></a></li>
     }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                <!-- 3楼 -->
                                    <div class="floor box1210">
                                        <h2 class="floorT">
                                            <b>3F</b>办公打印
                                            <ul>
                                                <li><a href="javascript:void(0)">耗材</a></li>
                                                <li><a href="javascript:void(0)">复印机</a></li>
                                                <li><a href="javascript:void(0)">打印机</a></li>
                                                <li><a href="javascript:void(0)">待定</a></li>
                                                <div class="clear"></div>
                                            </ul>
                                            <div class="clear"></div>
                                        </h2>
                                        <div class="floorL left">
                                            <ul>
                                                @{
                                List<AdvertInfo> floor3AdvertList1 = Adverts.GetAdvertList(16);
                                                }
                                                                @foreach (AdvertInfo info in floor3AdvertList1)
                                        {
                                                        <li><a href="@info.Url" class="hot">@info.Body</a></li>
                                        }
                                                                <div class="clear"></div>
                                            </ul>
                                            @{
                            List<AdvertInfo> floor3AdvertList2 = Adverts.GetAdvertList(17);
                                            }
                                                            @if (floor3AdvertList2.Count > 0)
                                    {
                                                    <a href="@floor2AdvertList2[0].Url" class="floorAD"><img src="@{@WorkContext.ImageCDN}/upload/advert/@floor2AdvertList2[0].Body" width="202" height="155" /></a>
    }
                                        </div>
                                        <div class="floorR right">
                                            <div class="floorCon">
                                                <ul>
                                                    @{
                                    List<AdvertInfo> floor3AdvertList3 = Adverts.GetAdvertList(18);
                                                    }
                                                                    @foreach (AdvertInfo info in floor3AdvertList3)
                                            {
                                                            <li><a href="@info.Url"><img src="@{@WorkContext.ImageCDN}/upload/advert/@info.Body" width="236" height="236" /><em>@info.ExtField1</em>
                                                                <b>¥
                                                                @if (string.IsNullOrEmpty(info.ExtField3) || info.ExtField3 == info.ExtField2)
                                                                {
                                                                    @info.ExtField2
                                                                }
                                                                else
                                                                {
                                                                    @info.ExtField3<s>¥@info.ExtField2</s>
                                                                }
                                                               </b></a></li>
    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="floorR right hide">
                                            <div class="floorCon">
                                                <ul>
                                                    @{
                                    List<AdvertInfo> floor3AdvertList4 = Adverts.GetAdvertList(19);
                                                    }
                                                                    @foreach (AdvertInfo info in floor3AdvertList4)
                                            {
                                                            <li><a href="@info.Url"><img src="@{@WorkContext.ImageCDN}/upload/advert/@info.Body" width="236" height="236" /><em>@info.ExtField1</em>
                                                                <b>¥
                                                                @if (string.IsNullOrEmpty(info.ExtField3) || info.ExtField3 == info.ExtField2)
                                                                {
                                                                    @info.ExtField2
                                                                }
                                                                else
                                                                {
                                                                    @info.ExtField3<s>¥@info.ExtField2</s>
                                                                }
                                                               </b></a></li>
    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="floorR right hide">
                                            <div class="floorCon">
                                                <ul>
                                                    @{
                                    List<AdvertInfo> floor3AdvertList5 = Adverts.GetAdvertList(20);
                                                    }
                                                                    @foreach (AdvertInfo info in floor3AdvertList5)
                                            {
                                                            <li><a href="@info.Url"><img src="@{@WorkContext.ImageCDN}/upload/advert/@info.Body" width="236" height="236" /><em>@info.ExtField1</em>
                                                                <b>¥
                                                                @if (string.IsNullOrEmpty(info.ExtField3) || info.ExtField3 == info.ExtField2)
                                                                {
                                                                    @info.ExtField2
                                                                }
                                                                else
                                                                {
                                                                    @info.ExtField3<s>¥@info.ExtField2</s>
                                                                }
                                                               </b></a></li>
    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="floorR right hide">
                                            <div class="floorCon">
                                                <ul>
                                                    @{
                                    List<AdvertInfo> floor3AdvertList6 = Adverts.GetAdvertList(21);
                                                    }
                                                                    @foreach (AdvertInfo info in floor3AdvertList6)
                                            {
                                                            <li><a href="@info.Url"><img src="@{@WorkContext.ImageCDN}/upload/advert/@info.Body" width="236" height="236" /><em>@info.ExtField1</em>
                                                                <b>¥
                                                                @if (string.IsNullOrEmpty(info.ExtField3) || info.ExtField3 == info.ExtField2)
                                                                {
                                                                    @info.ExtField2
                                                                }
                                                                else
                                                                {
                                                                    @info.ExtField3<s>¥@info.ExtField2</s>
                                                                }
                                                               </b></a></li>
    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>


                <!-- 4楼 -->
                                    <div class="floor box1210">
                                        <h2 class="floorT">
                                            <b>4F</b>计量/电子/衡器
                                            <ul>
                                                <li><a href="javascript:void(0)">计数</a></li>
                                                <li><a href="javascript:void(0)">计重</a></li>
                                                <li><a href="javascript:void(0)">地磅</a></li>
                                                <li><a href="javascript:void(0)">天枰</a></li>
                                                <div class="clear"></div>
                                            </ul>
                                            <div class="clear"></div>
                                        </h2>
                                        <div class="floorL left">
                                            <ul>
                                                @{
                                List<AdvertInfo> floor4AdvertList1 = Adverts.GetAdvertList(16);
                                                }
                                                                @foreach (AdvertInfo info in floor4AdvertList1)
                                        {
                                                        <li><a href="@info.Url" class="hot">@info.Body</a></li>
                                        }
                                                                <div class="clear"></div>
                                            </ul>
                                            @{
                            List<AdvertInfo> floor4AdvertList2 = Adverts.GetAdvertList(17);
                                            }
                                                            @if (floor4AdvertList2.Count > 0)
                                    {
                                                    <a href="@floor2AdvertList2[0].Url" class="floorAD"><img src="@{@WorkContext.ImageCDN}/upload/advert/@floor2AdvertList2[0].Body" width="202" height="155" /></a>
    }
                                        </div>
                                        <div class="floorR right">
                                            <div class="floorCon">
                                                <ul>
                                                    @{
                                    List<AdvertInfo> floor4AdvertList3 = Adverts.GetAdvertList(18);
                                                    }
                                                                    @foreach (AdvertInfo info in floor4AdvertList3)
                                            {
                                                            <li><a href="@info.Url"><img src="@{@WorkContext.ImageCDN}/upload/advert/@info.Body" width="236" height="236" /><em>@info.ExtField1</em>
                                                                <b>¥
                                                                @if (string.IsNullOrEmpty(info.ExtField3) || info.ExtField3 == info.ExtField2)
                                                                {
                                                                    @info.ExtField2
                                                                }
                                                                else
                                                                {
                                                                    @info.ExtField3<s>¥@info.ExtField2</s>
                                                                }
                                                               </b></a></li>
    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="floorR right hide">
                                            <div class="floorCon">
                                                <ul>
                                                    @{
                                    List<AdvertInfo> floor4AdvertList4 = Adverts.GetAdvertList(19);
                                                    }
                                                                    @foreach (AdvertInfo info in floor4AdvertList4)
                                            {
                                                            <li><a href="@info.Url"><img src="@{@WorkContext.ImageCDN}/upload/advert/@info.Body" width="236" height="236" /><em>@info.ExtField1</em>
                                                                <b>¥
                                                                @if (string.IsNullOrEmpty(info.ExtField3) || info.ExtField3 == info.ExtField2)
                                                                {
                                                                    @info.ExtField2
                                                                }
                                                                else
                                                                {
                                                                    @info.ExtField3<s>¥@info.ExtField2</s>
                                                                }
                                                               </b></a></li>
    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="floorR right hide">
                                            <div class="floorCon">
                                                <ul>
                                                    @{
                                    List<AdvertInfo> floor4AdvertList5 = Adverts.GetAdvertList(20);
                                                    }
                                                                    @foreach (AdvertInfo info in floor4AdvertList5)
                                            {
                                                            <li><a href="@info.Url"><img src="@{@WorkContext.ImageCDN}/upload/advert/@info.Body" width="236" height="236" /><em>@info.ExtField1</em>
                                                                <b>¥
                                                                @if (string.IsNullOrEmpty(info.ExtField3) || info.ExtField3 == info.ExtField2)
                                                                {
                                                                    @info.ExtField2
                                                                }
                                                                else
                                                                {
                                                                    @info.ExtField3<s>¥@info.ExtField2</s>
                                                                }
                                                               </b></a></li>
    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="floorR right hide">
                                            <div class="floorCon">
                                                <ul>
                                                    @{
                                    List<AdvertInfo> floor4AdvertList6 = Adverts.GetAdvertList(21);
                                                    }
                                                                    @foreach (AdvertInfo info in floor4AdvertList6)
                                            {
                                                            <li><a href="@info.Url"><img src="@{@WorkContext.ImageCDN}/upload/advert/@info.Body" width="236" height="236" /><em>@info.ExtField1</em>
                                                                <b>¥
                                                                @if (string.IsNullOrEmpty(info.ExtField3) || info.ExtField3 == info.ExtField2)
                                                                {
                                                                    @info.ExtField2
                                                                }
                                                                else
                                                                {
                                                                    @info.ExtField3<s>¥@info.ExtField2</s>
                                                                }
                                                               </b></a></li>
    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                <!-- 品牌商标展示 -->
                <div class="floor box1210">
                    <h2 class="floorT">
                         @*<b>5F</b>*@
                        合作品牌
                    </h2>
                   
                    <div>
                        <ul>
                            @{
                                var brandList = Brands.GetBrandList(20, 1, "");
                                if (brandList != null && brandList.Count > 0)
                                {
                                    foreach (var item in brandList)
                                    {
                                        <li>
                                            <a style="display:block;line-height:50px;background-color:#ccc;float:left;margin:10px 8px;" href="@Url.Action("categorysearch", "catalog", new RouteValueDictionary { { "searchKeyType", 2 }, { "searchKeyId", item.BrandId } })">
                                            <img  src="\upload\brand\thumb100_100\@item.Logo" alt="@item.Name"/>
                                            </a>
                                        </li>
                                    }
                                }
                            }
                    </ul>
                    </div>
                <div class="clear"></div>
                 </div>
}
</html>