<!DOCUTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@{@WorkContext.CSSCDN}/css/base.css" rel="stylesheet" type="text/css" />
    @RenderSection("header", false)
</head>
<body>
    <div id="headerBar" class="bigBox">
        <div class="box1210">
            欢迎访问 @WorkContext.MallConfig.MallName
            <div class="headerLink">
                @if (WorkContext.Uid < 1)
                {
                    <a href="@Url.Action("login", "account", new RouteValueDictionary { { "returnUrl", WorkContext.Url } })">[登录]</a>
                    <a href="@Url.Action("register", "account")" class="A_b">[注册]</a>
                }
                else
                {
                    @:您好: @WorkContext.NickName
                    <a href="@Url.Action("logout", "account")">[退出]</a>
                    if (WorkContext.PartUserInfo.StoreId > 1)
                    {
                        <a href="@Url.Action("index", "home", new RouteValueDictionary { { "area", "storeadmin" } })">[店铺管理]</a>
                    }
                    if (WorkContext.MallAGid > 1)
                    {
                        <a href="@Url.Action("index", "home", new RouteValueDictionary { { "area", "malladmin" } })">[商城管理]</a>
                    }
                    <a href="@Url.Action("orderlist", "ucenter")">[我的订单]</a>
                }
            </div>
        </div>
    </div>

    @{
        List<AdvertInfo> homeTopAdvertList = Adverts.GetAdvertList(6);
    }
    @if (homeTopAdvertList != null && homeTopAdvertList.Count > 0)
    {
        <div class="headerAD box1210">
            <a href="@homeTopAdvertList[0].Url"><img src="@{@WorkContext.ImageCDN}/upload/advert/@homeTopAdvertList[0].Body" width="1210" height="70" /></a>
            <a href="javascript:;" class="close" onclick="this.parentNode.style.display='none'">x</a>
        </div>
    }

    <div id="header" class="bigBox">
        <div class="box1210" id="header1">
            <a href="/" class="logo left"><img src="@{@WorkContext.ImageCDN}/images/logo.jpg" /></a>
            <div class="search left">
                <div class="searchCon">
                    <input type="text" id="keyword" name="keyword" class="Stext" autocomplete="off" onkeydown="javascript:if(event.keyCode==13) mallSearch(document.getElementById('keyword').value);" value="@WorkContext.SearchWord" />
                    <input name="" type="button" value="搜索" class="Sbutton" onclick="mallSearch(document.getElementById('keyword').value)" />
                    <div class="clear"></div>
                </div>

                <div class="searchHot">
                    热门搜索：
                    @{
                        List<AdvertInfo> searchWordAdvertList = Adverts.GetAdvertList(5);
                    }
                    @Html.Raw((searchWordAdvertList != null && searchWordAdvertList.Count > 0) ? searchWordAdvertList[0].Body : string.Empty)
                </div>

            </div>

            <div class="shopping right" onmousemove="getCartSnap()" id="cartSnapBox" onmouseout="closeCartSnap(event)">
                <h2><a href="@Url.Action("index", "cart")">我的购物车<b id="cartSnapProudctCount">@WorkContext.CartProductCount</b></a></h2>
                <div id="cartSnap" class="shoppingList" style="display:none;"><div class="loding"><img src="@{@WorkContext.ImageCDN}/images/loading.gif" /><br />加载中，请稍候... </div></div>
            </div>

            <div class="clear"></div>
        </div>
    </div>

    <div class="clear"></div>
    </div>
    </div>

    <div id="nav" class="bigBox">
        <div class="box">
            <!-- 分类导航 -->

            <div id="categorys" onmouseover="document.getElementById('categorysCon').className=''" onmouseout="document.getElementById('categorysCon').className='hide'">
                <h2><i style="font-size:large">牛工工场</i>&nbsp;商品分类</h2>
                <div id="categorysCon" class="hide">
                    @{
                        List<NavInfo> navList = Navs.GetNavList();
                    }
                    @{
                        int layerFlag = 0;
                        foreach (NavInfo info in navList)
                        {
                            if (info.Layer == 1)
                            {
                                if (layerFlag == 1)
                                {
                                    @:</div></div>
                                }
                                @:<div class="item" onmouseover="this.className='item hotItem'" onmouseout="this.className='item'"><h3><a href="javascript:void(0)">@info.Name</a></h3><div class="itmeSon">
                                layerFlag = 1;
                            }
                            else if (info.Layer == 2)
                            {
                                @:<dl><dt><a style="" href="javascript:void(0)">@info.Name</a></dt><dd>
                                foreach (NavInfo nav in navList.FindAll(x => x.Pid == info.Id))
                                {
                                    @:<em><a style="" href="@nav.Url">@nav.Name</a></em>
                                }
                                @:</dd><div class="clear"></div></dl>
                            }
                        }
                        @:</div></div>
                    }
                </div>
            </div>

    <!-- 分类导航结束 -->

    <ul id="navItme">
        <li><a href="/">首页</a></li>
        <li><a href="@Url.Action("category", "catalog", new RouteValueDictionary { { "cateId", 65 } })">电脑专场</a></li>
        <li><a href="@Url.Action("category", "catalog", new RouteValueDictionary { { "cateId", 55 } })">条码设备</a></li>
        <li><a href="@Url.Action("category", "catalog", new RouteValueDictionary { { "cateId", 71 } })">办公打印</a></li>
        <li><a href="@Url.Action("category", "catalog", new RouteValueDictionary { { "cateId", 72 } })">计量衡器</a></li>
        <li><a href="@Url.Action("category", "catalog", new RouteValueDictionary { { "cateId", 73 } })">五金电子</a></li>
        <li><a href="@Url.Action("category", "catalog", new RouteValueDictionary { { "cateId", 74 } })">劳保用品</a></li>
    </ul>
    </div>
    </div>

    @RenderSection("body")

    <div id="footer" class="bigBox">
        <div class="box">

            @{
                int flag = 1;
                foreach (HelpInfo info in WorkContext.HelpList)
                {
                    if (info.Pid != 0)
                    {
                        if (info.Url.Length == 0)
                        {
                            <a href="@Url.Action("question", "help", new RouteValueDictionary { { "id", info.Id } })">@info.Title</a>
                        }
                        else
                        {
                            <a href="@info.Url">@info.Title</a>
                        }
                    }
                    else
                    {
                        if (flag != 1)
                        {
                            @:</div>
            }
                        @:<div class="footerBox">
                            <h3>@info.Title</h3>
            flag++;
                    }
                }
                if (WorkContext.HelpList.Count > 0)
                {
                    @:</div>
    }
            }

            <div class="clear"></div>
        </div>
    <div class="bigBox footerB">
            <div id="footerB">
                <div class="links">
                    @foreach (FriendLinkInfo info in WorkContext.FriendLinkList)
                    {
                        <a href="@info.Url" target="@info.Target" title="@info.Title">@info.Name</a> @:|
        }
                </div>
                <div>苏州市公安局备案编号031143485246&nbsp;&nbsp;|&nbsp;&nbsp;苏ICP证047722号&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" target="_blank"></a><br />牛工汇电子商务有限公司 程序版本 @WorkContext.MallVersion 版权所有 @WorkContext.MallCopyright</div>
                <div><a href="#"><img width="108" height="40" src="@{@WorkContext.ImageCDN}/images/power_jy.gif"></a>
                 <a href="#"><img width="108" height="40" src="@{@WorkContext.ImageCDN}/images/power_kx.gif"></a>
                 <a href="#"><img width="108" height="40" src="@{@WorkContext.ImageCDN}/images/power_wj.png"></a>
                 <a href="#"><img width="112" height="40" src="@{@WorkContext.ImageCDN}/images/power_cx.png"></a>
                </div>
            </div>
        </div>
    @Html.Raw(WorkContext.ExecuteDetail)
    @Html.Raw(WorkContext.MallConfig.Script)
</body>
</html>